<div class="content">
  <div fxLayout='row' fxLayoutWrap>
    <div fxFlex>
      <div class="main-image"></div>
    </div>
  </div>

  <div fxLayout='row' class="content-text">
    <div fxFlex class="heading">
      Vielen Dank für deine Teilnahme!
    </div>
    <div fxFlex>
      Wir werden deine Information verwenden um den bisherige Spendeprozess zu verbessern.
    </div>
    <div fxFlex>
      Wenn Du in der Zwischenzeit spenden willst, kannst du gerne unter cleanriverproject.de tun.
    </div>
  </div>  
</div>