.slidecontainer {
  width: 100%;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 250px;
  text-align: left;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 48px;
  border-radius: 30px;  
  background: #5ECFE6;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 48px;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}