<div class="content">
  <div class='row'>
    <div class='column'>
      <div class="main-image"></div>
    </div>
  </div>

  <div fxLayout='row' class="content-text">
    <div fxFlex class="heading">
      Hallo und Herzlich Willkommen
    </div>
    <div fxFlex>
      Clean River Project e.V. ist eine gemeinnützige Organisation, die unsere Flüsse in Deutschland sauber hält. Heute kannst du uns dabei helfen, den Spendenprozess zu verbessern!
    </div>

    <div class='wrapper'>
      <div class='row'>
        <div class='column'>
          <div>1</div>
          <div class="heading">Test</div>
          <div>Dies ist ein Test! Wenn du tatsächlich spenden willst, kannst du dues gerne im Anschluss tun!</div>
        </div>
        <div class='column'>
          <div>2</div>
          <div class="heading">Auswahl</div>
          <div>Wähle mit dem Schlieberegler wahrheitsgemäß aus, was du zu spenden bereit wärst.</div>
        </div>
        <div class='column'>
          <div>3</div>
          <div class="heading">Klick</div>
          <div>Klicke auf "Donate" um den Test abzuschließen und um Feedback zu erhalten.</div>
        </div>
      </div>
    </div>
  </div>

  <!-- SLIDER -->
  <div *ngIf="slider()">
    <div class="slide-container">
      <div id="amount" #amount class="euro-amount">{{ donationAmount }}€</div>
      <input #slider type="range" min="10" max="100" class="slider" step="10" [(ngModel)]="donationAmount" (ngModelChange)="adjustStyles($event)">
      <span class="trash-amount">{{ trashAmount() }}kg</span>
    </div>
  </div>

  <!-- CHECKBOXES -->
  <div *ngIf="checkboxes()" class="checkboxes">
    <div class='row'>
      <div class='column'>
        <label class="container">
          <input type="radio" name="donationAmount" value=10 [(ngModel)]="donationAmount">
          10 €
        </label>
      </div>
      <div class='column'>
        <label class="container">
          <input type="radio" name="donationAmount" value=20 [(ngModel)]="donationAmount">
          20 €
        </label>
      </div>
      <div class='column'>
        <label class="container">
          <input type="radio" name="donationAmount" value=30 [(ngModel)]="donationAmount">
          30 €
        </label>
      </div>
    </div>
    <div class='row'>
      <div class='column'>
        <label class="container">
          <input type="radio" name="donationAmount" value=40 [(ngModel)]="donationAmount">
          40 €
        </label>
      </div>
      <div class='column'>
        <label class="container">
          <input type="radio" name="donationAmount" value=50 [(ngModel)]="donationAmount">
          50 €
        </label>
      </div>
      <div class='column'>
        <label class="container">
          <input type="radio" name="donationAmount" value=60 [(ngModel)]="donationAmount">
          60 €
        </label>
      </div>
    </div>
    <div class='row'>
      <div class='column'>
        <label class="container">
          <input type="radio" name="donationAmount" value=70 [(ngModel)]="donationAmount">
          70 €
        </label>
      </div>
      <div class='column'>
        <label class="container">
          <span></span>
          <input type="radio" name="donationAmount" value=80 [(ngModel)]="donationAmount">
          80 €
        </label>
      </div>
      <div class='column'>
        <label class="container">
          <input type="radio" name="donationAmount" value=90 [(ngModel)]="donationAmount">
          90 €
        </label>
      </div>
    </div>
    <div class='row'>
      <div class='column'>
        <label class="container">
          <input type="radio" name="donationAmount" value=100 [(ngModel)]="donationAmount">
          100 €
        </label>
      </div>
      <div class='column'></div>
      <div class='column'></div>
    </div>
  </div>

  <div style="text-align:center;">
    <button class="button" (click)="donate()">Donate</button>
  </div>
</div>
