.content {
  text-align: center;
  padding: 0 150px;
}

.slidecontainer {
  width: 100%;
  padding-top: 42px;
  padding-bottom: 42px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.main-image {
  background-image: url("/assets/images/CRP_main.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

.content-text {
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  div {
    padding-bottom: 12px;
  }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}