<div class="content">
  <div fxLayout='row' fxLayoutWrap>
    <div fxFlex>
      <div class="main-image"></div>
    </div>
  </div>

  <div fxLayout='row' class="content-text" fxLayoutWrap>
    <div fxFlex>
      Hallo und Herzlich Willkommen
    </div>
    <div fxFlex>
      Clean River Project e.V. ist eine gemeinnützige Organisation, die unsere Flüsse in Deutschland sauber hält.  Heute kannst du uns dabei helfen, den Spendenprozess zu verbessern!
    </div>
    <div fxFlex>
      Der Test wird nur wenige Minuten in Anspruch nehmen und du wirst kein echtes Geld spenden müssen – was du jedoch gerne auf der Seite www.cleanriverproject.de tun kannst.
    </div>
    <div fxFlex>
      Wir wären dir sehr dankbar, wenn du dir kurz die Zeit nimmst und uns sowie Clean River Projekt unterstützt.
    </div>
    <div fxFlex>
      Es werden keine personenbezogene Daten erhoben. Die Analyse der Daten erfolgt ausschließlich in zusammengefasster Form.
    </div>
    <div fxFlex>
      Vielen Dank.
    </div>
  </div>

  <div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  </div>

  <div style="text-align:center;">
    <button class="button" (click)="donateDummy()">Donate</button>
  </div>
</div>
